/* 
  1) პოზიციონირების (position) მნიშვნელობები:
  - static: ელემენტის ნაგულისხმევი (ნორმალური) მდგომარეობაა დოკუმენტის ნაკადში. top, bottom, left, right თვისებები მასზე არ მოქმედებს.
  - relative: ელემენტი ინარჩუნებს თავის ადგილს დოკუმენტის ნაკადში, მაგრამ შესაძლებელია მისი გადაადგილება თავისი საწყისი პოზიციიდან top, bottom, left, right თვისებებით.
  - absolute: ელემენტი ამოვარდება დოკუმენტის ნაკადიდან და პოზიციონირდება უახლოესი არასტატიკური (relative, absolute ან fixed) მშობელი ელემენტის მიმართ.
*/

/* 
  2) top, bottom, left, right დანიშნულება:
  ეს თვისებები გამოიყენება ელემენტის ზუსტი მდებარეობის სამართავად (relative, absolute, fixed ან sticky პოზიციების დროს):
  - top: აცილებს ელემენტს ზემოდან (აქვეითებს ქვემოთ).
  - bottom: აცილებს ელემენტს ქვემოდან (აწევს ზემოთ).
  - left: აცილებს ელემენტს მარცხნიდან (გადაადგილებს მარჯვნივ).
  - right: აცილებს ელემენტს მარჯვნიდან (გადაადგილებს მარცხნივ).
*/



.box-relative {
  width: 150px;
  height: 150px;
  background-color: #3498db;
  position: relative;
  top: 100px;
  left: 100px;
}



.box-absolute {
  width: 150px;
  height: 150px;
  background-color: #e74c3c;
  position: absolute;
  top: 230px;
  right: 140px;
}



